#pag{
    width: 80%;
    margin: auto;
    background-color: floralwhite;
}


header{
    background-color: rgb(238, 175, 205);
    background-size: 100%;
    max-width: 100%;
    height: 15em;
    padding: 3em;
    text-align: right;


}

h1{
    text-align: left;
    color: white;
}

.container{


}

img{
    width: 120px;
    height: 120px;
    size: 70px;

}

h2{
    color: pink;
    text-align: center;
}